body, header, nav, main, footer, h1, div, img, ul, section, figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color:#5C9AB5;
	font-size: 1.15em;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 7px;
}

.round {
	border-radius: 15px;
	width: 75%;
}

* {
	box-sizing: border-box;
}

header {
	top: 0;
}

footer {
	text-align: center;
	padding: 0 1em;
}

nav {
	padding: 1%;
	margin-bottom: 1%;
}
	
nav ul {
	list-style-type: none;
	text-align: center;
}
	
nav li {
	border-top: 1px solid #267318;
	font-size: 1.75em;
	font-family: 'Fjalla One';
}
	
nav li a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #394381;
}

/*Mobile rules*/
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

main {
	background-color:#fff;
	padding: 2%;
	font-family: 'Lato';
}

main h2 {
	text-align: center;
	font-weight: bold;
}

main h3 {
	text-align: center;
}

main img {
	margin-left: auto;
	margin-right: auto;
	width: 43%;
}

.frame {
	position: relative;\
	margin: 2% auto;
}

.pic-text {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #90e8a4;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

#about {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 15px;
	background-color: #f2f2f2;
	padding: 1% 2%;
}
	
/*Tablet rules*/
@media screen and (min-width: 630px),print {
	
	.tablet-desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
	}
	
	
}

/*Desktop rules*/
@media screen and (min-width: 769px),print {
	
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}
	
	nav {
		float: right;
		margin: 4em 1em 0 0;
	}
	
	nav ul {
		list-style-type: none;
		text-align: right;
	}
	
	nav li {
		display: inline-block;
		border: none;
	}
	
	nav li a:hover {
		color: #fff;
		border: 3px solid white; 
	}
	
	main {
		clear: left;
	}

	main h1 {
		font-size: 2.5em;
	}
	
	main h4 {
		text-align: left;
		font-size: 1.5em;
	}

	main ul {
		margin: 0 0 4% 4%;
	}
	
	.frame:hover {
		box-shadow: 8px 8px 10px #808080;
	}
	
	#about img {
		width: 25%;
	}
	
	#about1, #about2 {
		
	}
	
	#transport, #power, #nutrition {
		margin: 0 2%;
		width: 29%;
		float: left;
		font-size: 1.05em;
	}
	
	#helpimg {
		display: inline-block;
		text-align:center;
	}

}

@media screen and (min-width: 1921px) {
	#container {
		width: 1920px;
		margin: 0 auto;
	}	
}